* {
    box-sizing: border-box; 
}

/* ====== GRID Area + GRID Template/Column Areas ===== */

.body {
    grid-area: body;
    display: grid;
    margin: 0em;
    grid-template-areas: 
        "container"
        "midja"
        "footer";
    background-image: linear-gradient(rgb(0,65,130), rgb(0,33,61));
}
.container {
    display: grid;
    max-width: 60em;
    min-height: 36.1em;
    margin: auto;
    grid-area: container;
    grid-template-areas: 
    "header"
    "header2";
    font-family: 'Tangerine', cursive;
}
.header {
    grid-area: header;
    color: yellow;
    text-align: center;
    padding-top: 2em;
    font-size: 60px;
    font-style: tangerine;
}
.header2 {
    grid-area: header2;
    color: yellow;
    text-align: center;
    padding-bottom: 2em;
    font-size: 60px;
}


.midja {
    grid-area: midja;
    background-image: linear-gradient(rgb(224, 178, 39), rgb(255, 238, 185));
}
.main {
    display: grid;
    max-width: auto;
    margin: auto;
    grid-area: main;
    grid-template-areas: 
    "leturfraedi leturgerd";
    grid-template-columns: 1fr 1fr;
}
.leturfraedi {
    grid-area: leturfraedi;
    padding: 3em;
    font-family: 'Montserrat', sans-serif;
}
.leturgerd {
    grid-area: leturgerd;
    padding: 3em;
    font-family: 'Montserrat', sans-serif;
}


.footer {
    display: grid;
    max-width: 60em;
    margin: auto;
    grid-area: footer;
    grid-template-areas: 
    "afangar letrid hlekkir";
    grid-template-columns: 1fr 2fr 1fr;

}

.afangar {
    grid-area: afangar;
    color: white;
    padding: 0;
    padding-bottom: 3em;
}

.letrid {
    grid-area: letrid;
    color: white;
    padding: 0em;
    padding-bottom: 3em;

}

.hlekkir {
    grid-area: hlekkir;
    color: white;
    padding-left: 3em;
    padding-bottom: 3em;

}

a:link {
    color: rgb(202, 202, 52);
    text-decoration: none;
}
a:visited {
    color: orange;
}
a:hover {
    text-decoration: underline;
}