* {
    box-sizing: border-box; 
}

                        /* ====== GRID Area + GRID Template/Column Areas ===== */

.body {
    grid-area: body;
    display: grid;
    margin: 0em;
    grid-template-areas: 
        "container"
        "main"
        "footer";
    background-image: linear-gradient(green, yellow);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

            /* ====== CONTAINER ===== */

.container {
    grid-area: container;
    display: grid;
    margin: auto;
    max-width: 60em;
    min-height: 36.1em;
    padding-bottom: 3em;
    grid-template-areas: 
        "header"
        "forge"
        "nav";
    background-image: element();
} 

.forge {
    grid-area: forge
}
.header {
    grid-area: header;
    text-align: center;
    font-size: 60px;
    margin-top: 3em;
    
}
.nav {
    grid-area: nav;
    background-color: rgb(0,65,130);
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    max-width: 60em;
    display: flex;
    justify-content: space-evenly;
}
.nav a {
    border-right: solid white;
    border-top: solid white;
    border-bottom: solid white;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 1.2em;
    padding-left: 1.2em;
}
.nav a:last-child {
    border-right: none;
   
}


            /* ====== MEGINMÁL ===== */



.main {
    grid-area: main;
    display: grid;
    margin-left: 5em;
    margin-right: 5em;
    grid-template-areas: 
    "ummig ahugamal";
    grid-template-columns: 1fr 2fr;
}

.color {
    background-image: radial-gradient(blue, lightblue);
}
.ummig {
    grid-area: ummig;
    padding: 0em;
    margin-right: 3em;
    max-width: 26em;
    display: grid;
    grid-template-areas: 
    "ummig_titill"
    "eg"
    "menntun_titill"
    "menntun"
    "selfie";

}
.eg {
    grid-area: eg;
    text-align: justify;
}
.menntun_titill {
    grid-area: menntun_titill;
}
.menntun {
    grid-area: menntun;
}

.ahugamal {
    grid-area: ahugamal;
    padding: 0;
    display: grid;
    grid-template-areas: 
        "ahugamal_titill ahugamal_titill"
        "hljom_titill tolvu_titill"
        "hljomsveitir tolvuleikir"
        "ahugamal_myndir ahugamal_myndir";
    grid-template-columns: 1fr 1fr;
}
.ahugamal_titill {
    grid-area: ahugamal_titill;
    margin-top: 3em;
}
.ahugamal_texti {
    grid-area: ahugamal_texti;
    text-align: center;
    margin: 0;
}
.hljomsveitir {
    grid-area: hljomsveitir;
}
.hljom_titill {
    grid-area: hljom_titill;
    text-align: center;
    margin: 0;
}
.tolvuleikir {
    grid-area: tolvuleikir;
    padding-left: 9em;

}
.tolvu_titill {
    grid-area: tolvu_titill;
    text-align: center;
    margin: 0;
}
.ummig_titill, .ahugamal_titill {
    text-align: center;
    margin-top: 3em;
}

        /* ====== Myndir ===== */


.ummig_myndir {
    grid-area: ummig_myndir;
    display: grid;
    grid-template-areas: 
    "selfie";
}
.selfie {
    grid-area: selfie;
    height: auto;
    max-width: 100%;
}
.ahugamal_myndir {
    grid-area: ahugamal_myndir;
    margin-bottom: 5em;
    display: grid;
    grid-template-areas: 
    "hljom_myndir tolvu_myndir";
    grid-template-columns: 1fr 1fr;
}
.hljom_myndir {
    grid-area: hljom_myndir;
    display: grid;
    margin: auto;
    grid-template-areas: 
    "skalmold queens metal"
    "zeppelin tmv leppard";
    grid-template-columns: 1fr 1fr 1fr;
}
.skalmold {
    grid-area: skalmold;
    margin: 0.5em;
    align-items: center;
}
.queens {
    grid-area: queens;
    margin: 0.5em;
}
.metal {
    grid-area: metal;
    margin: 0.5em;

}
.zeppelin {
    grid-area: zeppelin;
    margin: 0.5em;

}
.tmv {
    grid-area: tmv;
    margin: 0.5em;

}
.leppard {
    grid-area: leppard;
    margin: 0.5em;
}
.tolvu_myndir {
    grid-area: tolvu_myndir;
    display: grid;
    margin: auto;
    grid-template-areas: 
        "ck2 civ5 ds"
        "csgo bl2 bf2";
}
.ck2 {
    grid-area: ck2;
    margin: 0.5em;
}
.civ5 {
    grid-area: civ5;
    margin: 0.5em;
}
.ds {
    grid-area: ds;
    margin: 0.5em;
}
.csgo {
    grid-area: csgo;
    margin: 0.5em;
}
.bl2 {
    grid-area: bl2;
    margin: 0.5em;
}
.bf2 {
    grid-area: bf2;
    margin: 0.5em;
}


            /* ====== FOOTER ===== */

.footer {
    grid-area: footer;
    display: grid;
    min-width: 60em;
    margin: 0;  
    grid-template-areas: 
        "left upplysingar verkefni links right";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.upplysingar {
    grid-area: upplysingar;
    padding: 2em;
}
.verkefni {
    grid-area: verkefni;
    padding: 2em;
}
.links {
    grid-area: links;
    padding: 2em;
}
.left {
    grid-area: left;
    text-align: center;
    padding-top: 5em;
}
.right {
    grid-area: right;
    text-align: center;
    padding-top: 5em;
}

            /* ====== ===== */

.nav a:link {
    color:white;
    text-decoration: none;
}
.nav a:visited {
    color: white;
}
.nav a:hover {
    text-decoration: underline;
}

a:link {
    color:blue;
    text-decoration: none;
}
a:visited {
    color: blue;
}
a:hover {
    text-decoration: underline;
}


/* ====== Media ===== */

/*  ========================================
Viðmið - breakpoints 30em = 480px + 
========================================*/

 @media screen and (min-width:30em) {

}

/*  ========================================
Viðmið - breakpoints 37.5em = 600px + 
========================================*/

@media screen and (min-width:37.5em) {
}

/* ========================================
Viðmið - breakpoints 48em = 760px +
======================================== */

@media screen and (min-width:48em) {
}

/* ========================================
Viðmið - breakpoints 60em = 960px +
======================================== */

@media screen and (min-width:60em) {
}

/* ========================================
Viðmið - breakpoints 80em = 1280px +
======================================== */

@media screen and (min-width:80em) {
    .body {
        margin: 0 auto;
        }
}